/* animating the header */

.header-bg {
  animation: headerAnimate 0.75s ease-in;
}

@keyframes headerAnimate {
  from {
    opacity: 0;
    transform: translateY(-90px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
